<form 
          class = "ui form" 
          action="/picklist/{{picklistId}}/updatepick/{{id}}" 
          method="POST" enctype="multipart/form-data"
        >
<body style="background-image:url({{background}});">
  <div class="ui card" style="margin-right: auto; margin-left: auto;">
    <div class="image">
    <img src="{{image}}">
    </div>
    <div class="content">
        <a class="header" style="text-align:center;padding-bottom:10px;"> <span class="ui input">
               <input type="text" name="genre" autofocus required 
                      genre = "Please include a valid genre" placeholder="Genre" 
					  value = "{{genre}}">
              </span>
      </a>
      
        <div class="meta">
        <span class="date">
         <span class="ui input">
               <input type="text" name="author" autofocus required 
                      author = "Please include a valid author" placeholder="Author" 
					  value = "{{author}}">
              </span>
          </span>
        </div>
      
        <div class="description">
        <span class="ui input">
               <input type="text" name="descript" autofocus required 
                      descript = "Please include a valid descript" placeholder="Descript" 
					  value = "{{descript}}">
              </span>
       </div>
      
       </div>
      <div class="extra content">
      <i class="calendar outline icon"></i>Public in: 
        <span class="ui input">
               <input type="text" name="publicYear" autofocus required 
                      descript = "Please include a valid public year" placeholder="publicYear" 
					  value = "{{publicYear}}">
        </span><br><br>
        <i class="book icon"></i>Book Cover upload: 
        <span class="ui fluid input">
            <input type="file" name="image" autofocus required title = "Please include a valid image file"
	  placeholder="Image">
            </span><br>
        <i class="image icon"></i>Background Image upload: 
        <span class="ui fluid input">
            <input type="file" name="background" autofocus required title = "Please include a valid background image file"
	  placeholder="Background">
            </span>
        <div class="ui buttons">
  <button class="ui button">Cancel</button>
  <div class="or"></div>
  <button class="ui positive button">Save</button>
</div>
     </div>
     </div>
  <a href="/picklist/{{../id}}/deletepick/{{id}}" class="ui icon button"> 
    <i class="trash icon"></i>
</a>

  </body>
  <button type = "submit" class="ui icon button">
                <i class="ui pencil icon"></i>
              </button>
</form>