<form 
          class = "ui stacked segment form" 
          action="/booklist/{{booklistId}}/updatebook/{{id}}" 
          method="POST"  enctype="multipart/form-data"
        >
        <tr class="hide" id="edit{{@index}}">
          <td class="three wide field">
            <span class="ui fluid input">
               <input type="text" name="name" autofocus required 
                      title = "Please include a valid Title" placeholder="Title" 
					  value = "{{name}}">
              </span>
          </td>
          <td class="two wide field">
            <span class="ui fluid input">
            <input type="file" name="image" autofocus required title = "Please include a valid image file"
	  placeholder="Image">
            </span>
          </td>
          <td class="four wide field">
            <span class="ui fluid input">
               <input type="text" name="author" autofocus required 
                      title = "Please include a valid Title" placeholder="Author" 
					  value = "{{author}}">
              </span>
          </td>
          <td class="two wide field">
            <span class="ui fluid input">
               <input type="text" name="genre" autofocus required 
                      title = "Please include a valid Title" placeholder="Genre" 
					  value = "{{genre}}">
              </span>
          </td>
          <td class="two wide field">
           <span class="ui fluid input">
               <input type="text" name="publicYear" autofocus required 
                      title = "Please include a valid Title" placeholder="PublicYear" 
					  value = "{{publicYear}}">
              </span>
          </td>
          <td>
      <button type = "reset" class="ui icon button"  id="hideEdit{{@index}}" 
	          title="Exit without saving">
        <i class="ui undo icon"></i>
      </button>
    </td>
    <td>
      <button type = "submit"  class="ui icon button" 
	          title="Save changes">
        <i class="ui save icon"></i>
      </button>
    </td>
  </tr>
   </form>
