{{#if singleBooklist.books}}

  <table class="ui sortable celled selectable celled inverted brown table">
    <thead>
      <tr>
        <th><i class="book icon"></i>Book Name</th>
        <th><i class="pencil alternate icon"></i>Author</th>
        <th><i class="tag icon"></i>Genre</th>
        <th><i class="calendar times outline icon"></i>Publication</th>
      </tr>
    </thead>
    <tbody>
      {{#each singleBooklist.books}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{author}}
          </td>
          <td>
            {{genre}}
          </td>
          <td>
            {{publicYear}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty Booklist!
    </h3>

{{/if}}