<style>
  h3{
    text-align:center;
  }
</style>
{{#if singlePicklist.details}}
{{#each singlePicklist.details}}
<body style="background-image:url({{background}});">
  <div class="ui card" style="margin-right: auto; margin-left: auto;">
    <div class="image">
    <img src="{{image}}">
    </div>
    <div class="content">
        <a class="header" style="text-align:center;padding-bottom:10px;">{{genre}}</a>
        <div class="meta">
        <span class="date"><i class="pencil alternate icon"></i>{{author}}</span>
        </div>
        <div class="description">
        {{descript}}
       </div>
       </div>
      <div class="extra content">
      <i class="calendar outline icon"></i>Public in: {{publicYear}}
     </div>
     </div>
{{/each}}
  {{else}}
    <h3 class="ui message">
      Start Adding details for your books!
    </h3>
  </body>
{{/if}}