<section
  class="ui secondary inverted brown left aligned middle aligned segment"
>

  <h2><div class="dashtitle">Booklist Collection Dashboard</div></h2>

  {{#each booklists}}
    {{> listonebooklist booklistId=../id}}
    {{> editbooklist booklistId=../id}}
  {{/each}}
<script>
      document.querySelector("#showEdit{{@index}}").addEventListener ('click', () => {
            document.querySelector("#booklist{{@index}}").style.display = "none";
            document.querySelector("#edit{{@index}}").style.display = "table-row";
       })
      document.querySelector("#hideEdit{{@index}}").addEventListener ('click', () => {
            document.querySelector("#booklist{{@index}}").style.display = "table-row";
            document.querySelector("#edit{{@index}}").style.display = "none";
       })
</script>

</section>