{{#if singlePicklist.details}}

  <div class="ui card">
    <div class="image">
    <img src="/images/avatar2/large/kristy.png">
    </div>
    <div class="content">
    {{#each singlePicklist.details}}
        <a class="header">{{bookName}}({{genre}})</a>
        <div class="meta">
        <span class="date">author</span>
        </div>
        <div class="description">
        {{descript}}
       </div>
       </div>
      <div class="extra content">
      <i class="calendar outline icon"></i>{{publicYear}}
     </div>
     </div>
  {{else}}
    <h3 class="ui message">
      Empty Booklist!
    </h3>

{{/if}}