<style>
  h3{
    text-align:center;
  }
</style>
{{#if books}}
<table class="ui selectable celled inverted teal table">
    <thead>
      <tr>
        <th class="three wide"><i class="book icon"></i>Book Name</th>
        <th class="two wide"><i class="image outline icon"></i>Book Cover</th>
        <th class="four wide"><i class="pencil alternate icon"></i>Author</th>
        <th class="two wide"><i class="tag icon"></i>Genre</th>
        <th class="two wide"><i class="calendar times outline icon"></i>Publication</th>
        <th class="one wide"></th>
        <th class="one wide"></th>
      </tr>
    </thead>
    <tbody>
{{#each books}}
      
  {{> listOneBook booklistId=../id}}
  {{> editbook booklistId=../id}}
      
<script>
      document.querySelector("#showEdit{{@index}}").addEventListener ('click', () => {
            document.querySelector("#book{{@index}}").style.display = "none";
            document.querySelector("#edit{{@index}}").style.display = "table-row";
       })
      document.querySelector("#hideEdit{{@index}}").addEventListener ('click', () => {
            document.querySelector("#book{{@index}}").style.display = "table-row";
            document.querySelector("#edit{{@index}}").style.display = "none";
       })
</script>
      
{{/each}}
</tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty Booklist!
    </h3>
{{/if}}