<section
  class="ui secondary inverted brown left aligned middle aligned segment"
>

  <h2><div class="dashtitle">Booklist Collection Dashboard</div></h2>
{{#if booklists}}
  {{#each booklists}}
        {{> listonebooklist booklistId=../id}}
        {{> editbooklist booklistId=../id}}
  <script>
    document.querySelector("#showEdit{{@index}}").addEventListener ('click', () => {
        document.querySelector("#booklist{{@index}}").style.display = "none";
        document.querySelector("#edit{{@index}}").style.display = "block";
    })
    document.querySelector("#hideEdit{{@index}}").addEventListener ('click', () => {
        document.querySelector("#booklist{{@index}}").style.display = "block";
        document.querySelector("#edit{{@index}}").style.display = "none";
    })
</script>
  {{/each}}
  {{else}}
    <div class="ui olive large icon message">
     <i class="huge icons">
  <i class="book icon"></i>
  <i class="bottom right corner add icon"></i>
</i>
  <div class="">
    <div class="header">
      Start Adding A Booklist
    </div>
    <p>Tips: Use a genre as a Start.</p>
  </div>
    </div>
{{/if}}
</section>