<section
      class="ui secondary inverted teal left aligned middle aligned segment"
      style="border-style:outset" id="booklist{{@index}}"
    >
      <h3 class="ui header" style="font-family:cursive">
        {{uppercase category}}
      </h3>
      <a href="/booklist/{{id}}" class="ui icon button">
        <i class="open folder icon"></i>
      </a>
    <button class="ui icon button" title="Edit song" id="showEdit{{@index}}">
      <i class="ui pencil icon"></i>
    </button>
      <a href="/dashboard/deletebooklist/{{id}}" class="ui icon button">
        <i class="trash icon"></i>
      </a>
  </section>