        <tr class="fields" id="book{{@index}}">
          <td class="three wide field">
               {{capitalise name}}
          </td>
          <td class="two wide field">
            <img src="{{image}}">
          </td>
          <td class="four wide field">
            {{capitalise author}}
          </td>
          <td class="two wide field">
            {{capitalise genre}}
          </td>
          <td class="two wide field">
               {{publicYear}}
          </td>
          <td class="one wide center aligned">
              <button class="ui icon button" title="Edit Book" id="showEdit{{@index}}">
                <i class="ui pencil icon"></i>
              </button>
            </td>
          <td class="one wide center aligned">
          <a href="/booklist/{{../id}}/deletebook/{{id}}" 
	         class="ui icon button" title="Delete Book">
          <i class="ui trash icon"></i>
          </a>
          </td>
        </tr>
