{{#if singleBooklist.books}}

  <table class="ui selectable celled inverted teal table">
    <thead>
      <tr>
        <th><i class="book icon"></i>Book Name</th>
        <th><i class="image outline icon"></i>Book Cover</th>
        <th><i class="pencil alternate icon"></i>Author</th>
        <th><i class="tag icon"></i>Genre</th>
        <th><i class="calendar times outline icon"></i>Publication</th>
      </tr>
    </thead>
    <tbody>
      {{#each singleBooklist.books}}
        <tr>
          <td>
            {{capitalise name}}
          </td>
          <td>
            <img src="{{image}}">
          </td>
          <td>
            {{capitalise author}}
          </td>
          <td>
            {{capitalise genre}}
          </td>
          <td>
            {{publicYear}}
          </td>
          <td class="center aligned">
          <a href="/booklist/{{../singleBooklist.id}}/deletebook/{{id}}" 
	         class="ui icon button" title="Delete Book">
          <i class="ui trash icon"></i>
          </a>
</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty Booklist!
    </h3>

{{/if}}