<body style="background-image:url({{background}});">
  <div class="ui card" style="margin-right: auto; margin-left: auto;" id="pick">
    <div class="image">
    <img src="{{image}}">
    </div>
    <div class="content">
        <a class="header" style="text-align:center;padding-bottom:10px;">{{genre}}</a>
        <div class="meta">
        <span class="date"><i class="pencil alternate icon"></i>{{author}}</span>
        </div>
        <div class="description">
        {{descript}}
       </div>
       </div>
      <div class="extra content">
      <i class="calendar outline icon"></i>Public in: {{publicYear}}
     </div>
    <button class="ui icon olive button" title="Edit pick"  id="showEdit">
      <i class="ui pencil icon">Edit</i>
    </button>
     </div>
  <a href="/picklist/{{picklistId}}/deletepick/{{id}}" class="ui icon button"
     style="position:fixed;top:24%; left:61%;"> 
    <i class="trash icon"></i>
</a>  
</body>