{{#if singlePicklist.details}}
{{#each singlePicklist.details}}
  <div class="ui card" style="margin-right: auto; margin-left: auto;">
    <div class="image">
    <img src="/images/avatar2/large/kristy.png">
    </div>
    <div class="content">
        <a class="header" style="text-align:center;padding-bottom:10px;">{{genre}}</a>
        <div class="meta">
        <span class="date"><i class="pencil alternate icon"></i>{{author}}</span>
        </div>
        <div class="description">
        {{descript}}
       </div>
       </div>
      <div class="extra content">
      <i class="calendar outline icon"></i>Public in: {{publicYear}}
     </div>
     </div>
  {{else}}
    <h3 class="ui message">
      Empty Picklist!
    </h3>
{{/each}}
{{/if}}