<section class="ui secondary inverted brown left aligned middle aligned segment">
  
  <h2><div class="dashtitle">My highlighted books</div></h2>

  {{#each picklists}}
   {{> listOnePicklist picklistId=../id}}
   {{> editPicklist picklistId=../id}}
  <script>
    document.querySelector("#showEdit{{@index}}").addEventListener ('click', () => {
        document.querySelector("#picklist{{@index}}").style.display = "none";
        document.querySelector("#edit{{@index}}").style.display = "block";
    })
    document.querySelector("#hideEdit{{@index}}").addEventListener ('click', () => {
        document.querySelector("#picklist{{@index}}").style.display = "block";
        document.querySelector("#edit{{@index}}").style.display = "none";
    })
</script>
  {{/each}}
</section>