{{> menu}}

<style>
  h3 {
  border-radius: 8px;
  border-style:inset;
  position:relative;
  left:23em;
  top:57px;
  padding:18px;
  margin:10px;
  width:50%;
  font-family:cursive;
  background-color:#84A9C0;
  text-shadow: 2px 2px 5px #F7A072;
  color:white;
  } 
  
  h2{
  border-radius: 8px;
  position:relative;
  left:13.3em;
  top:110px;
  margin:120px;
  padding:20px;
  color: white;
  text-shadow: -1px 0 #F7A072, 0 1px #F7A072, 1px 0 #F7A072, 0 -1px #F7A072;
  background-color:#84A9C0;
  border-style:inset;
  width:50%;
  font-family:cursive;
  }
  
</style>

<section class="ui secondary inverted brown center aligned middle aligned segment">
    <h2>Welcome to book collection App! <br> {{capitalise fullname}}</h2>
    <h3>
      You can add booklists and favourite book in this web!
    </h3>  
  <img src="https://cdn.glitch.global/6d279091-10e0-44aa-91a9-405dacd6b0b1/library.webp?v=1709346417197" class="ui rounded image"
       style="position:relative;
              bottom:15em;
              left:3em;
              border-style:outset;
              border-radius: 8px;
              border-width:6px;
              border-color:#BFD7EA;"
       width="350px" height="350px">
  <h4 class="ui inverted horizontal divider header" style="position:relative;bottom:13em;">
    <i class="small bar chart icon"></i>
    Statistics
  </h4>
  <div class="ui placeholder segment" style="position:relative;bottom:13em;width=20%">
  <div class="ui two column very relaxed grid">
    <div class="column">
    <div class="ui three small statistics">
    <div class="statistic">
    <div class="label" style="text-decoration-line: underline;">
      Booklist Amount
    </div>
    <div class="value">
      <img src="https://cdn.glitch.global/13846978-a6d2-4332-b1a9-13b6de65e9c2/book%20shelficon.webp?v=1712109008474" class="ui circular inline image"
           style="position:relative;
                  top:8px;">
      {{displayNumBooklists}}
    </div>  
  </div>
    <div class="statistic">
    <div class="label" style="text-decoration-line: underline;">
      Book Amount
    </div>
    <div class="value">
      <img src="https://cdn.glitch.global/13846978-a6d2-4332-b1a9-13b6de65e9c2/books.png?v=1712255050518" class="ui circular inline image"
           style="position:relative;
                  top:10px;">  
      {{displayNumBooks}}
    </div>
  </div>
  <div class="statistic">
  <div class="label" style="text-decoration-line: underline;">
      Each List Have
  </div>
    <div class="value">
      <img src="https://cdn.glitch.global/13846978-a6d2-4332-b1a9-13b6de65e9c2/avg.png?v=1712262766408" class="ui circular inline image"
           style="position:relative;
                  top:7px;">  
      {{displayAvgBooks}}
    </div>
  </div> 
    </div>
    </div>
    <div class="middle aligned column">
<div class="ui small olive  statistics">
  <div class="statistic">
    <div class="label" style="text-decoration-line: underline;">
      Most of The Book are
    </div>
    <div class="value">
      {{displayMaxBooklists}}
    </div>
  </div> 
  <div class="statistic">
    <div class="label" style="text-decoration-line: underline;">
      Least of The Book are
    </div>
    <div class="value"> 
      {{displayMinBooklists}}
    </div>
  </div>
  </div> 
  </div> 
    </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
</section>
